/* Reset and base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* font-family: 'Arial', sans-serif; */
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.6;
    color: #333;
}

/* Navigation */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5%;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #2c3e50;
    font-size: 100px;
}
.download-btn .btn{
    font-size: 60px;
    border-radius: 20px;
    padding: 20px 40px;
}
/* Button styles */
.btn {
    display: inline-block;
    padding: 6px 8px;
    background-color: white;
    color: rgb(12, 9, 9);
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    border: solid;
}

.btn:hover {
    background-color: #b091ee;
    
}

/* Hero section */
.hero {
    background-image: url(../first-assignment/assets/Hero-bg.png);
    text-align: center;
    padding: 4rem 2rem;
    font-size: 50px;
}

.hero h1 {
    font-size: 150px;
    margin-bottom: 2rem;
    color: #2c3e50;
}
.hero p{
    margin: 25px;
}
.hero .btn{
    margin-top: 50px;
    padding: 20px 40px;
    font-size: 70px;
    border-radius: 20px;
    background-color: #0f0f0f;
    color: white;
}
 .wd{
    margin-top: 120px;
    background-color:rgb(244, 244, 244);
    text-align: center;
    padding: 90px 200px;
    width: 80%;
    border: none;
    margin-left: 500px;
    font-size: 70px;
 }
 .wd p{
      width: 80%;
        margin-left: 350px;
 }
 .fe{
    padding: 100px 400px;
    background-color: white;
    text-align: start;
    width: 80%;
    margin-left: 350px;
    margin-top: 120px;
 }
 .fe .im{
    margin-left: 1400px;
    width: 50%;
    margin-top: 80px;
    
 }
 .fe h3 {
    margin-left: -250px;
    margin-top: -950px;
    width: 50%;
 }
 .fe p{
    margin-left: -250px;
    width: 60%;
    margin-top: 20px;
 }
 .fe .btn{
    margin-top: 60px;
    margin-left: -250px;
 }
 .fea{
    padding: 100px 400px;
    background-color: white;
    text-align: start;
    width: 80%;
    margin-left: 350px;
    margin-top: 120px;
 }
 .fea h3 {
    width: 65%;
    margin-top: -1000px;
    margin-left: 900px;
 }
 .fea p{
    width: 60%;
    margin-left: 900px;
    margin-top: 20px;
 }
 .fea .ima{
    width: 50%;
    margin-left: -250px;
 }
 .fea .btn{
    margin-top: 60px;
    margin-left: 900px;
 }
 .feau{
    padding: 100px 400px;
    background-color: white;
    text-align: start;
    width: 80%;
    margin-left: 350px;
    margin-top: 120px;
 }
 .feau .im{
    width: 50%;
    margin-left: 1400px;
    margin-top: -750px;
    margin-bottom: -160px;
}
.feau h3 {
        width: 65%;
        margin-top: 60px;
        margin-left: -250px;
}
.feau p{
    width: 60%;
    margin-left: -250px;
    margin-top: 20px;
    margin-bottom: -160px;
}
.feau .btn{  
    margin-left: -250px;
    margin-top: 40px;
}
.m{ 
    font-size: 80px;
    text-align: center;
    padding: 20px 0px;
    width: 50%;
    border: none;
    margin: 500px;
    margin-top: 150px;
    margin-left: 1200px;
}
.w{
    margin-top: 20px;
}
.w1{
    margin-top: 120px;
    background-color: white;
    padding: 70px 70px;
    width: 80%;
    border: solid;
    border-radius: 20px;
    border-color: rgb(236, 242, 242);
}
/* Commitment section */
.commitment {
    padding: 4rem 5%;
    /* background-color: #f8f9fa; */
    text-align: center;
    margin-top: -280px;
    font-size: 70px;
}
.commitment .b{
   margin-top: -40px;
}
.commitment h2 {
    margin-bottom: 3rem;
    color: #2c3e50;
    margin-top: 20px;
    text-align: center;
}
.skill-card .ig{
    padding-top: -100px;
    padding-right: 250px;
    width: 30%;
    margin-top: 80px;
    display: flex;
    margin: 40px;
}
.skill-card .i{
    padding-right: 270px;
    margin-top: 30px;
    display: flex;
    margin: 40px;
}
.skill-card .bt{
    padding-right: 1000px;
}
.skill-card .l{
    padding-right: 10px;
    width: 100%;
    text-align: left;
    margin: 40px;
}

.skills-container {
    display: grid;
    gap: 3rem;
    margin-top: 40px;
}
.skills-section .a{
    margin-top: -20px;
}
.skills-section h3 {
    margin-bottom: 2rem;
    color: #2c3e50;
    font-size: 100px;
    margin-top: 260px;
}

.skills {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin-top: 30px;
    box-shadow: 2px 3px 10px rgba(0,0,0,0.1);
    gap: 1.5rem;
}
.skills1{
    display: flexbox;
    margin: 150px;
}
.skill-card{
    padding: 2rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 2px 3px 10px rgba(0,0,0,0.1);
}
.skill-card1 {
    padding: 2rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 2px 3px 10px rgba(0,0,0,0.1);
    border-radius: 20px;
    border: solid;
}
.skill-card1 .ig{
    padding-right: 1000px;
    display: flex;
    width: 8%;
    height: 60%;
    padding-right: 0px;
    margin-top: -280px;
    margin-left: 80px;
}
.skill-card1 h4{
    display: flex;
    padding-top: -100px;
    font-size: 100px;
    margin-left: 500px;
}
.skill-card1 p{
    padding-left: 490px;
    padding-top: 5px;
    text-align: start;

}
.skills-section .btn1{
        border: none;
        background-color: transparent;
        display: flex;
        margin-top: 30px;
        margin-left: 500px;
}
.skill-card2{
    padding: 2rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 2px 3px 10px rgba(0,0,0,0.1);
    border-radius: 20px;
    border: solid;
    margin-top: 20px;
}
.skill-card2 .ig{
    padding-right: 1000px;
    display: flex;
    width: 10%;
    height: 60%;
    padding-right: 0px;
    margin-top: -280px;
    margin-left: 80px;
}
.skill-card2 h4{
    margin-top: 30px;
    display: flex;
    font-size: 100px;
    margin-left: 600px;
}
.skill-card2 p{
    padding-left: 600px;
    padding-top: 5px;
    text-align: start;
}
.skills-section .btn2{
    border: none;
    background-color: transparent;
    margin-top: 60px;
    display: flex;
    margin-left: 600px;
}

.skill-card3{
    padding: 2rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 2px 3px 10px rgba(0,0,0,0.1);
    border-radius: 20px;
    border: solid;
    margin-top: 20px;
}
.skill-card3 .ig{
    display: flex;
    width: 9%;
    height: 60%;
    margin-top: -400px;
    margin-left: 40px;
}
.skill-card3 h4{
    font-size: 100px;
    display: flex;
    margin-left: 500px;
}
.skill-card3 p{
    padding-left: 100px;
    padding-top: 5px;
    text-align: start;
    margin-left: 400px;
}
.skills-section .btn3{
    border: none;
    background-color: transparent;
    margin-top: 35px;
    display: flex;
    margin-left: 500px;
}
.contact{
    background-image: url(../first-assignment/assets/handshake.jpg);
    font-size: 60px;
    width: 80%;
    margin-left: 500px;
    margin-top: -50px;
}
.contact h2{
    margin-left: 1800px;
    color: #f6f7f8;
    padding-top: 150px;
}
.contact p{
    width: 60%;
    color: #f6f7f8;
    margin-left: 1000px;
    text-align: center;
    padding-top: 30px;
}
.contact .e{
    height: 100px;
    margin-left: 900px;
    margin-top: 70px;
    margin-bottom: 40px;
    width: 50%;
    font-size: 70px;
    padding: 80px 60px;
    border-radius: 20px;
    border: none;
}
.contact .btn{
    font-size: 60px;
    padding: 40px 20px;
    border-radius: 20px;
    margin-left: 30px;
    height: 160px;
    width: 350px;
    margin-bottom: 150px;
    border: none;
}

/* Footer */
footer {
    text-align: center;
    padding: 2rem;
    background-color: #f6f7f8;
    color: rgb(16, 16, 16);
    margin-top: 60px;
    padding-left: 2800px;
}
footer .v{
    padding-top: 60px;
    margin-bottom: -25px;
    font-size: 60px;
    margin-left: -6000px;
}
footer .j{
    margin-left: 800px;
}
footer .k{
    margin-left: 950px;
    margin: 25px;
}
footer .l{
    margin-left: 1050px;
    margin: 1px;
}